@import '~antd/dist/antd.css';

/* Container holding the image and the text in Name*/
.container {
    position: relative;
    text-align: center;
    color: white;
}


.fullscreen {
	/*position: fixed;*/
/*	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/
	height: 100vh;
	/*width: 100vh;*/
	width: 100vw;
	/*min-height: 100%;*/
	/*max-width: 100%;*/
	/*max-height: 100%;*/
	/*margin: auto;*/
	/*overflow: auto;*/
}

.mainMenuItem {
	margin-left: 50%;
}
/*.fullscreen {
  position: fixed; 
  top: 0; 
  left: 0; 
	
   Preserve aspet ratio 
  min-width: 100%;
  min-height: 100%;
}*/
/*.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: lime; /* Just to visualize the extent */


/* Centered text  in Name*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nameText {
	color: white;
}

.indent {
	margin-left: 3%;
}

.mainView {
	margin-bottom: 1.5%
}

 /*https://answers.squarespace.com/questions/135958/how-can-i-create-a-bouncing-down-arrow.html*/

.nameArrow {
	/*height: 452vh; */
	/*width: 25vw;*/
	/*width and height and location not workin TODOTODOTODOTODOTODO*/
	color: white;
}
 
/*keeps arrow white even when clicked*/
.nameArrow:hover { 
	color:white;
}

.bounce {
    position:fixed;
    left:50%;
    bottom:0;
    margin-top:-25px;
    margin-left:-25px;
    height:50px;
    width:50px;
    /*background:red;*/
    -webkit-animation:bounce 1s infinite;
    -moz-animation:bounce 1s infinite;
    -o-animation:bounce 1s infinite;
    animation:bounce 1s infinite;
    
  }
  
  @-webkit-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-moz-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-o-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
 /*not working, need to set size of cards TODODODO*/
  .projectCard{
  	color: red;
  	/*SIZE HERE*/
  	width: 250px;
  	height: 200px;
  	margin-left: 4%;
  }



/*https://davidwalsh.name/css-flip*/

.vertical.flip-container {
	position: relative;
}

	.vertical .back {
		transform: rotateX(180deg);
	}

	.vertical.flip-container .flipper {
		transform-origin: 100% 213.5px; /* half of height */
	}

	.vertical.flip-container:hover .flipper {
		transform: rotateX(-180deg);
	}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	/*SIZE HERE*/
	/*margin-left: 10%;*/
	width: 250px; 
	height: 200px;
	/*margin-left: 4%;*/
}

/* flip speed goes here */
.flipper {
	transition: 0.3s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}